@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("//db.onlinewebfonts.com/c/05e476e067ffef74ca5686f229c40a63?family=PingFang+SC");


*,
*::before,
*::after {
  font-family: 'PingFang SC', sans-serif;
}

html,
body, #__next {
  width: 100vw;
  height: 100vh;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  height: 1.2rem;
  width: 1.2rem;
  margin-top: 0.2rem;
  background: white;
  border-radius: 50%;
}
